[submodule "PaddleOCR"]
	path = licensePlateDetectionAiService/PaddleOCR
	url = https://github.com/PaddlePaddle/PaddleOCR
[submodule "licensePlateDetectionAiService/PaddleOCR"]
	path = licensePlateDetectionAiService/PaddleOCR
	url = https://github.com/PaddlePaddle/PaddleOCR
